<div class="button-container">
    <button mat-raised-button color="primary" (click)="create()">Créer un article</button>
    <div class="filter-container">
        <p>Trier par</p>
        <mat-icon>arrow_downward</mat-icon>
    </div>
</div>

<div class="feed-container">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px" class="list-container">
        <mat-grid-tile *ngFor="let post of posts$ | async" class="card-container" routerLink="{{post.id}}">
            <div class="info">
                <h2>{{ post.subject }}</h2>
                <div class="desc">
                    <p>{{ post.created_at | date: 'dd/MM/yy HH:mm' }}</p>
                    <p>{{ post.user.username }}</p>
                </div>
                <p>Content: {{ post.content }}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
