.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;

    h1 {
        margin: 0;
    }
}

.header-post {
    display: flex;
    flex-direction: row;
}

.comment-container {
    display: flex;
    flex-direction: row;
}